@keyframes fifty-bucks {
  1%{
    opacity: 0;
  }
  33%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#parallax-1 {
    background: url(https://images.rosewoodhotels.com/is/image/rwhg/rosewoodmiramarbeach-beachhousesuiteterrace-1);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid white;
}
  
#fifty {
  opacity: 0;
  animation-name: fifty-bucks;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}