html, body {
    height: 100%;
}

.main-content {
    position: relative;
    margin: 0;

}

.sidebar {
    background: #fff;
    border-right: 1px solid #e5e5e5;
    display: block;
    position: fixed;
    left: 0;
    height: 100%;
    width: 60px;
    overflow: visible;
    z-index: 20;
}

.secondary-bar {
    background: #f5f5f5;
    border-right: 1px solid #e5e5e5;
    display: none;
    position: fixed;
    top: 56px;
    left: 0px;
    margin-left: 60px;
    padding: 20px;
    height: 100%;
    width: 500px;
    overflow: visible;
    animation: slide-out 0.5s forwards;
    animation-play-state: paused;
    z-index: 10;
}

.sidebar-active {
    background: #f5f5f5;
}

.form-active {
    left: -500px;
    animation: slide-in 0.5s forwards !important;
}

    /*
    //display: flex;
    //flex-direction: column;
}

.main-content {
    //flex: 1;
}
*/

.menu-list, .menu-item {
    margin: auto;
    text-align: center !important;
}

.dashboard-box {
    height: 300px;
}

.footer {
    margin-top: -12px;
}

@media screen and (max-width: 768px) {
    #menu-toggle:checked + .nav-menu {
        display: block;
    }
}

@keyframes slide-in {
    100% {
        left: 0px;
    }
}

@keyframes slide-out {
    100% {
        left: -500px;
    }
}