{% if cache %}
<!-- Stateful form entries -->
<!-- main form -->
<section id="mainform" class="bg-white text-light p-5 ">
    <form id="formid" action="/results_page" method="post">
        <!--<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">-->
        <div class="container">
            <div class="row g-5">
                <div class="col-md mb-0">
                    <h3 class="text-dark text-start mb-3">Property Info</h3>
                    <!-- Address -->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="AutoAddress" required autocomplete="off"
                            id="AutoAddress" value='{{ AutoAddress }}'>
                        <label for="AutoAddress" class="text-secondary">Address</label>
                    </div>
                    <!-- room type -->
                    <div class="form-floating mb-3">
                        <select class="form-select" name="RoomType" id="RoomType">
                            {% if RoomType == 1 %}
                            <option value="0">Private room</option>
                            <option selected value="1">Hotel Room</option>
                            <option value="2">Shared Room</option>
                            <option value="3">Entire Home/Apt</option>
                            {% elif RoomType == 2 %}
                            <option value="0">Private room</option>
                            <option value="1">Hotel Room</option>
                            <option selected value="2">Shared Room</option>
                            <option value="3">Entire Home/Apt</option>
                            {% elif RoomType == 3 %}
                            <option value="0">Private room</option>
                            <option value="1">Hotel Room</option>
                            <option value="2">Shared Room</option>
                            <option selected value="3">Entire Home/Apt</option>
                            {% else %}
                            <option selected value="0">Private room</option>
                            <option value="1">Hotel Room</option>
                            <option value="2">Shared Room</option>
                            <option value="3">Entire Home/Apt</option>
                            {% endif %}
                        </select>
                        <label for="RoomType" class="text-dark">Select Room Type</label>
                    </div>
                    <!-- # of beds -->
                    <div class="text-center">
                        <input type="range" class="form-range" name="Beds" min="0" max="8" id="Beds" value='{{ Beds }}' oninput="updateBeds();">
                        <label for="Beds" class="form-label text-dark">Number of Beds: </label>
                        <span id="BedsSpan" class="text-primary">{{ Beds }}</span>
                    </div>
                    <!-- Accommodates -->
                    <div class="text-center">
                        <input type="range" class="form-range" name="Accommodates" min="1" max="15" id="Accommodates" value="{{ Accommodates }}"
                            oninput="updateAccommodates();">
                        <label for="Accommodates" class="form-label text-dark">Accommodates </label>
                        <span id="AccommodatesSpan" class="text-primary">{{ Accommodates }}</span>
                    </div>
                </div>
                <div class="col-md mb-0">
                    <h3 class="text-dark text-start mb-3">Host and Reviews Info</h3>
                    <!-- Host Response Time -->
                    <div class="form-floating mb-3">
                        <select class="form-select" name="HostResponseTime" id="HostResponseTime">
                            {% if HostResponseTime == 1 %}
                            <option value="0">Within an Hour</option>
                            <option selected value="1">Within a few Hours</option>
                            <option value="2">Within a Day</option>
                            <option value="3">A Few Days or More</option>
                            {% elif HostResponseTime == 2 %}
                            <option value="0">Within an Hour</option>
                            <option value="1">Within a few Hours</option>
                            <option selected value="2">Within a Day</option>
                            <option value="3">A Few Days or More</option>
                            {% elif HostResponseTime == 3 %}
                            <option value="0">Within an Hour</option>
                            <option value="1">Within a few Hours</option>
                            <option value="2">Within a Day</option>
                            <option selected value="3">A Few Days or More</option>
                            {% else %}
                            <option selected value="0">Within an Hour</option>
                            <option value="1">Within a few Hours</option>
                            <option value="2">Within a Day</option>
                            <option value="3">A Few Days or More</option>
                            {% endif %}
                        </select>
                        <label for="HostResponseTime" class="text-dark">Host Response Time</label>
                    </div>
                    <!-- Review Score -->
                    <div class="text-center">
                        <input type="range" class="form-range" name="ReviewScore" min="3" max="5" id="ReviewScore" step="0.01" value="{{ ReviewScore }}"
                            oninput="updateReviewScore();">
                        <label for="ReviewScore" class="form-label text-dark">Overall Review Score: </label>
                        <span id="ReviewScoreSpan" class="text-primary">{{ ReviewScore }}</span>
                    </div>
                    <!--  Longitude -->
                    <div class="form-floating mb-3 d-none">
                        <input type="number" class="form-control" name="Longitude" autocomplete="off"
                            id="Longitude" placeholder="Longitude" value="{{ Longitude }}" readonly>
                        <label for="Longitude" class="text-secondary">Longitude</label>
                    </div>
                    <!-- Latitude -->
                    <div class="form-floating mb-3 d-none">
                        <input type="number" class="form-control" name="Latitude" autocomplete="off" id="Latitude"
                            placeholder="Latitude" value="{{ Latitude }}" readonly>
                        <label for="Latitude" class="text-secondary">Latitude</label>
                    </div>
                    <div class="form-floating mb-3 d-none">
                        <input type="number" class="form-control" name="place_id" autocomplete="off" id="place_id"
                            placeholder="place_id" value="0" readonly>
                        <label for="place_id" class="text-secondary">place_id</label>
                    </div>
                    <div id="submitDiv">
                        <button id="submitButton" class="btn btn-danger btn-lg" style="width:100%;" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
{% else %}
<!-- Stateless form-->
<section id="mainform" class="bg-white text-light p-5 ">
    <form id="formid" action="/results_page" method="post">
        <!--<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">-->
        <div class="container">
            <div class="row g-5">
                <div class="col-md mb-0">
                    <h3 class="text-dark text-start mb-3">Property Info</h3>
                    <!-- Address -->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="AutoAddress" required autocomplete="off"
                            id="AutoAddress" placeholder="333 North St">
                        <label for="AutoAddress" class="text-secondary">Address</label>
                    </div>
                    <!-- room type -->
                    <div class="form-floating mb-3">
                        <select class="form-select" name="RoomType" id="RoomType">
                            <option selected value="0">Private room</option>
                            <option value="1">Hotel Room</option>
                            <option value="2">Shared Room</option>
                            <option value="3">Entire Home/Apt</option>
                        </select>
                        <label for="RoomType" class="text-dark">Select Room Type</label>
                    </div>
                    <!-- # of beds -->
                    <div class="text-center">
                        <input type="range" class="form-range" name="Beds" min="0" max="8" id="Beds" value="1" oninput="updateBeds();">
                        <label for="Beds" class="form-label text-dark">Number of Beds: </label>
                        <span id="BedsSpan" class="text-primary">1</span>
                    </div>
                    <!-- Accommodates -->
                    <div class="text-center">
                        <input type="range" class="form-range" name="Accommodates" min="1" max="15" id="Accommodates" value="2"
                            oninput="updateAccommodates();">
                        <label for="Accommodates" class="form-label text-dark">Accommodates </label>
                        <span id="AccommodatesSpan" class="text-primary">0</span>
                    </div>
                </div>
                <div class="col-md mb-0">
                    <h3 class="text-dark text-start mb-3">Host and Reviews Info</h3>
                    <!-- Host Response Time -->
                    <div class="form-floating mb-3">
                        <select class="form-select" name="HostResponseTime" id="HostResponseTime">
                            <option selected value="0">Within an Hour</option>
                            <option value="1">Within a few Hours</option>
                            <option value="2">Within a Day</option>
                            <option value="3">A Few Days or More</option>
                        </select>
                        <label for="HostResponseTime" class="text-dark">Host Response Time</label>
                    </div>
                    <!-- Review Score -->
                    <div class="text-center">
                        <input type="range" class="form-range" name="ReviewScore" min="3" max="5" id="ReviewScore" step="0.01" value="5"
                            oninput="updateReviewScore();">
                        <label for="ReviewScore" class="form-label text-dark">Overall Review Score: </label>
                        <span id="ReviewScoreSpan" class="text-primary">0</span>
                    </div>
                    <!--  Longitude -->
                    <div class="form-floating mb-3 d-none">
                        <input type="number" class="form-control" name="Longitude" autocomplete="off"
                            id="Longitude" placeholder="Longitude" value="0" readonly>
                        <label for="Longitude" class="text-secondary">Longitude</label>
                    </div>
                    <!-- Latitude -->
                    <div class="form-floating mb-3 d-none">
                        <input type="number" class="form-control" name="Latitude" autocomplete="off" id="Latitude"
                            placeholder="Latitude" value="0" readonly>
                        <label for="Latitude" class="text-secondary">Latitude</label>
                    </div>
                    <div class="form-floating mb-3 d-none">
                        <input type="number" class="form-control" name="place_id" autocomplete="off" id="place_id"
                            placeholder="place_id" value="0" readonly>
                        <label for="place_id" class="text-secondary">place_id</label>
                    </div>
                    <div id="submitDiv">
                        <button id="submitButton" class="btn btn-danger btn-lg" style="width:100%;" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
{% endif %}

<!-- for geojson? -->

<!-- Google Places API has been restricted to Specified Heroku app url -->
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{ GoogleApiKey }}&callback=initAutocomplete&libraries=places&v=weekly">
</script>

<!-- Google Places Autocomplete -->
<script>
    let autocomplete;
    let address1Field;
    let locality_boston = false;
    function initAutocomplete() {
        // console.log('initAutocomplete');
        address1Field = document.querySelector("#AutoAddress");
        var input = document.getElementById('AutoAddress');
        autocomplete = new google.maps.places.Autocomplete(address1Field, {
            componentRestrictions: {
                country: ["us"],
            },
            fields: ["address_components", "geometry"], //"place_id"],
            types: ["address"],
        });
        autocomplete.addListener('place_changed', fillInAutoComplete);
    }

    function fillInAutoComplete() {
        const place = autocomplete.getPlace();
        const longitude = document.getElementById('Longitude');
        const latitude = document.getElementById('Latitude');
        const place_id = document.getElementById('place_id');
        console.log(place);
        console.log(place.geometry.location.lng());
        longitude.value = place.geometry.location.lng();
        latitude.value = place.geometry.location.lat();
        place_id.value = place.place_id;
        console.log(place.geometry.location.lat());
        for (const component of place.address_components) {
            const componentType = component.types[0];

            switch (componentType) {
                case "locality":
                    if (component.long_name == "Boston") {
                        locality_boston = true;
                        // document.getElementById("AutoAddress").value = "Boston";
                    }else{
                        locality_boston = false;
                    }
                    break;
                case "country":
                    if (component.long_name != "United States") {
                        console.log("not US");
                        // document.getElementById("AutoAddress").value = "Boston";
                    }
                    break;
            }
        }
    }

    updateBeds();
    updateReviewScore();

    function updateBeds() {
        var beds = document.getElementById('Beds');
        var bedsSpan = document.getElementById('BedsSpan');
        var bedsValue = beds.value;
        bedsSpan.innerHTML = bedsValue;
        updateAccommodates(bedsValue * 2);
    }

    function updateAccommodates(num) {
        var acc = document.getElementById('Accommodates');
        var accSpan = document.getElementById('AccommodatesSpan');
        var accValue;
        if (!num) {
            accValue = acc.value;
        } else {
            accValue = num;
            acc.value = num;
        }
        if (accValue == 1) {
            accSpan.innerHTML = accValue + " Guest";
        } else {
            accSpan.innerHTML = accValue + " Guests";
        }
    }

    function updateReviewScore() {
        var score = document.getElementById('ReviewScore');
        var scoreSpan = document.getElementById('ReviewScoreSpan');
        var scoreValue = score.value;
        scoreSpan.innerHTML = scoreValue;
    }

    $(window).ready(function() {
        $("#AutoAddress").on("keypress", function (event) {
            var keyPressed = event.keyCode || event.which;
            if (keyPressed === 13) {
                event.preventDefault();
                const place = autocomplete.getPlace();
                const longitude = document.getElementById('Longitude');
                const latitude = document.getElementById('Latitude');
                longitude.value = place.geometry.location.lng();
                latitude.value = place.geometry.location.lat();
                return false;
            }
        });
        $("#submitButton").on("click", function (event) {
            event.preventDefault();
            // check if address is in boston or valid long/lats
            if(locality_boston){
                $("#formid").submit();
            }else{
                alert("Please enter a valid address in Boston");
            }

        });
    });

</script>