{% extends "layout.html" %}
{% block content %}
    <body>
        <section id="parallax-1" class="hero is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <div class="columns">
                        <div id="title" class="column is-6">
                            <h1 class="title is-1">Uh... <h1 id="fifty" class="title is-1">50 bucks?</h1></h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
{% endblock content %}