<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Vacation Rental Pricing Helper">
    <meta name="author" content="Joe Andrew Jing">
    <!-- Bootstrap core -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

    <title>Vacation Rental Pricing Helper</title>
</head>


<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">Vacation Rental Pricing</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/insights" class="nav-link">Insights</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- showcase -->
    <section id="showcase" class="bg-light text-dark p-4 text-center p-lg-0 p-md-0">
        <!-- text-sm-start -->
        <div class="container p-3">
            <div class="row">
                <div class="d-sm-flex col-md-6 align-items-center justify-content-between">
                    <div>
                        <h1 class="mb-4">Vacation Rental <span class="text-warning">Pricing Helper</span></h1>
                        <p class="lead ">
                            This is a great tool to help <b class="">property owners</b> to <mark class="">calculate the
                                pricing</mark> of a
                            vacation rental in the Boston, Massachusetts area, with <mark class="mark1"><i>critical
                                    insights!</i></mark>
                        </p>
                        <a class="btn btn-outline-danger btn-lg" href="#mainform">
                            Let's Get Started!
                        </a>
                    </div>
                    <!-- <img src="/static/img/house-door.svg" class="img-fluid w-100 d-none d-sm-block" alt="" /> -->

                </div>
                <div class="col-md-6 d-none d-sm-block">
                    <i id="logo" class="bi bi-house-door"></i>
                </div>

            </div>
        </div>
    </section>

    <!-- Data Display -->
    <section id="mainform" class="bg-white text-light p-5 ">
        <div class="container">
            <div class="row g-5">
                
            </div>
        </div>
    </section>



    <!-- main form -->
    <section id="mainform" class="bg-white text-light p-5 ">
        <div class="container">
            <div class="row g-5">
                <div class="col-md mb-0">
                    <h3 class="text-dark text-start mb-3">Property Info</h3>
                    <!-- Address -->
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" name="AutoAddress" required autocomplete="off"
                            id="AutoAddress" placeholder="333 North St">
                        <label for="AutoAddress" class="text-secondary">Address</label>

                    </div>
                    <!-- room type -->
                    <div class="form-floating mb-3">
                        <select class="form-select" id="RoomType">
                            <option selected value="0">Private room</option>
                            <option value="1">Hotel Room</option>
                            <option value="2">Shared Room</option>
                            <option value="3">Entire Home/Apt</option>
                        </select>
                        <label for="RoomType" class="text-dark">Select Room Type</label>
                    </div>
                    <!-- # of beds -->
                    <div class="text-center">
                        <input type="range" class="form-range" min="0" max="8" id="Beds" value="1"
                            oninput="updateBeds();">
                        <label for="Beds" class="form-label text-dark">Number of Beds: </label>
                        <span id="BedsSpan" class="text-primary">1</span>
                    </div>
                    <!-- accomodates -->
                    <div class="text-center">
                        <input type="range" class="form-range" min="1" max="15" id="Accomodates" value="2"
                            oninput="updateAccomodates();">
                        <label for="Accomodates" class="form-label text-dark">Acommodates </label>
                        <span id="AccomodatesSpan" class="text-primary">0</span>
                    </div>
                </div>


                <div class="col-md mb-0">
                    <h3 class="text-dark text-start mb-3">Host and Reviews Info</h3>
                    <!-- Host Response Time -->
                    <div class="form-floating mb-3">
                        <select class="form-select" id="HostResponseTime">
                            <option selected value="0">Within an Hour</option>
                            <option value="1">Within a few Hours</option>
                            <option value="2">Within a Day</option>
                            <option value="3">A Few Days or More</option>
                        </select>
                        <label for="HostResponseTime" class="text-dark">Host Response Time</label>
                    </div>
                    <!-- Review Score -->
                    <div class="text-center">
                        <input type="range" class="form-range" min="3" max="5" id="ReviewScore" step="0.01" value="5"
                            oninput="updateReviewScore();">
                        <label for="ReviewScore" class="form-label text-dark">Overall Review Score: </label>
                        <span id="ReviewScoreSpan" class="text-primary">0</span>
                    </div>

                    <!--  Longitude -->
                    <div class="form-floating mb-3" hidden>
                        <input type="number" class="form-control" name="Longitude" required autocomplete="off"
                            id="Longitude" placeholder="Longitude" value="0" disabled>
                        <label for="Longitude" class="text-secondary">Longitude</label>
                    </div>
                    <!-- Latitude -->
                    <div class="form-floating mb-3" hidden>
                        <input type="number" class="form-control" name="Latitude" required autocomplete="off"
                            id="Latitude" placeholder="Latitude" value="0" disabled>
                        <label for="Latitude" class="text-secondary">Latitude</label>
                    </div>
                    <div>
                        <button class="btn btn-danger btn-lg" style="width:100%;" type="submit">Submit</button>
                    </div>
                </div>


            </div>
            <!-- <div>
                <button class="btn btn-danger btn-lg" style="width:100%;" type="submit">Submit</button>
            </div> -->

        </div>
    </section>


    <!-- Newsletter -->
    <!-- <section class="bg-primary text-light p-5 ">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center">
                <h3 class="mb-3 mb-md-0">Sign up for newsletter</h3>
                <div class="input-group news-input">
                    <input type="text" class="form-control" placeholder="Enter email">
                    <button class="btn btn-light btn-lg" type="button">Sign up</button>

                </div>
            </div>
        </div>
    </section> -->



    <!-- footer -->
    <footer class="p-5 bg-dark text-white text-center position-relative">
        <div class="container">
            <p class="lead">
                Copyright &copy; 2021 Vacation Rental Team
            </p>
            <a href="#showcase" class="position-absolute bottom-0 end-0 p-5">
                <i class="bi bi-arrow-up-circle h1"></i>

            </a>
        </div>
    </footer>


    <script src="/static/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!-- Google Places API has been restricted to Specified Heroku app url -->
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3ufBrDDLSZUlA7LZfQcOGcUvlgL9KeUE&callback=initAutocomplete&libraries=places&v=weekly">
    </script>

    <script>
        let autocomplete;
        let address1Field;

        function initAutocomplete() {
            console.log('initAutocomplete');
            address1Field = document.querySelector("#AutoAddress");
            var input = document.getElementById('AutoAddress');
            autocomplete = new google.maps.places.Autocomplete(address1Field, {
                componentRestrictions: {
                    country: ["us"],
                },
                fields: ["address_components", "geometry"],
                types: ["address"],
            });
            autocomplete.addListener('place_changed', fillInAutoComplete);
        }

        function fillInAutoComplete() {
            const place = autocomplete.getPlace();
            const longitude = document.getElementById('Longitude');
            const latitude = document.getElementById('Latitude');
            console.log(place);
            console.log(place.geometry.location.lng());
            longitude.value = place.geometry.location.lng();
            latitude.value = place.geometry.location.lat();
            console.log(place.geometry.location.lat());
            for (const component of place.address_components) {
                const componentType = component.types[0];

                switch (componentType) {
                    case "locality":
                        if (component.long_name != "Boston") {
                            console.log("not Boston");
                            // document.getElementById("AutoAddress").value = "Boston";
                        }
                        break;
                    case "country":
                        if (component.long_name != "United States") {
                            console.log("not US");
                            // document.getElementById("AutoAddress").value = "Boston";
                        }
                        break;
                }
            }
        }

        updateBeds();
        updateReviewScore();

        function updateBeds() {
            var beds = document.getElementById('Beds');
            var bedsSpan = document.getElementById('BedsSpan');
            var bedsValue = beds.value;
            bedsSpan.innerHTML = bedsValue;
            updateAccomodates(bedsValue * 2);
        }

        function updateAccomodates(num) {
            var acc = document.getElementById('Accomodates');
            var accSpan = document.getElementById('AccomodatesSpan');
            var accValue;
            if (!num) {
                accValue = acc.value;
            } else {
                accValue = num;
                acc.value = num;
            }
            if (accValue == 1) {
                accSpan.innerHTML = accValue + " Guest";
            } else {
                accSpan.innerHTML = accValue + " Guests";
            }
        }

        function updateReviewScore() {
            var score = document.getElementById('ReviewScore');
            var scoreSpan = document.getElementById('ReviewScoreSpan');
            var scoreValue = score.value;
            scoreSpan.innerHTML = scoreValue;
        }
    </script>

</body>

</html>