<!DOCTYPE html>
<html>
    <head>
        <title>Vacation Rental Pricing Estimator</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="Vacation Rental Pricing Estimator">
        <meta property="og:description" content="Accurately price your vacation rental">
        <meta property="og:image" content="https://images.unsplash.com/photo-1588880331179-bc9b93a8cb5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
        <link rel="stylesheet" href="/static/css/index.css">
        <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    </head>
        {% block content %}
        {% endblock content %}
    <footer>
        <script src="/static/js/index.js"></script>
    </footer>
</html>